# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

foundry-mint-kp.pem
# ssh -i "foundry-course-mint-bot-kp.pem" ec2-user@ec2-18-205-116-100.compute-1.amazonaws.com